TestAgnedaServices/TestAgnedaServices/Web References/AgendaServices/AgendaServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides methods to store agenda files and provides the shell for a new agenda document.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveAgendaFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Payload" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAgendaFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveAgendaFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenTokenHeader" type="tns:AuthenTokenHeader" />
      <s:complexType name="AuthenTokenHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetAgendaFileFromWebServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Board" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgendaFileFromWebServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgendaFileFromWebServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableAgendaFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Board" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableAgendaFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableAgendaFilesResult" type="tns:ArrayOfAgendaFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAgendaFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AgendaFile" nillable="true" type="tns:AgendaFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgendaFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAvailableAgendaFilesAndDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Board" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableAgendaFilesAndDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableAgendaFilesAndDatesResult" type="tns:ArrayOfAgendaFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveAgendaFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAgendaFile" />
  </wsdl:message>
  <wsdl:message name="SaveAgendaFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAgendaFileResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAgendaFileAuthenTokenHeader">
    <wsdl:part name="AuthenTokenHeader" element="tns:AuthenTokenHeader" />
  </wsdl:message>
  <wsdl:message name="GetAgendaFileFromWebServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgendaFileFromWebServer" />
  </wsdl:message>
  <wsdl:message name="GetAgendaFileFromWebServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgendaFileFromWebServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableAgendaFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableAgendaFiles" />
  </wsdl:message>
  <wsdl:message name="GetAvailableAgendaFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableAgendaFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableAgendaFilesAndDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableAgendaFilesAndDates" />
  </wsdl:message>
  <wsdl:message name="GetAvailableAgendaFilesAndDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableAgendaFilesAndDatesResponse" />
  </wsdl:message>
  <wsdl:portType name="StorageServiceSoap">
    <wsdl:operation name="SaveAgendaFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saves an agenda (OGA) file. Payload is the string contents of the OGA file, File Name is the name given to the file when on disk</wsdl:documentation>
      <wsdl:input message="tns:SaveAgendaFileSoapIn" />
      <wsdl:output message="tns:SaveAgendaFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgendaFileFromWebServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a blank agenda shell from the file system as opposed to the database.</wsdl:documentation>
      <wsdl:input message="tns:GetAgendaFileFromWebServerSoapIn" />
      <wsdl:output message="tns:GetAgendaFileFromWebServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAgendaFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of all available agenda files per organization.</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableAgendaFilesSoapIn" />
      <wsdl:output message="tns:GetAvailableAgendaFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAgendaFilesAndDates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of all available agenda files by using the meeting date from inside the file.</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableAgendaFilesAndDatesSoapIn" />
      <wsdl:output message="tns:GetAvailableAgendaFilesAndDatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StorageServiceSoap" type="tns:StorageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAgendaFile">
      <soap:operation soapAction="http://tempuri.org/SaveAgendaFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SaveAgendaFileAuthenTokenHeader" part="AuthenTokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgendaFileFromWebServer">
      <soap:operation soapAction="http://tempuri.org/GetAgendaFileFromWebServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAgendaFiles">
      <soap:operation soapAction="http://tempuri.org/GetAvailableAgendaFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAgendaFilesAndDates">
      <soap:operation soapAction="http://tempuri.org/GetAvailableAgendaFilesAndDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StorageServiceSoap12" type="tns:StorageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAgendaFile">
      <soap12:operation soapAction="http://tempuri.org/SaveAgendaFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SaveAgendaFileAuthenTokenHeader" part="AuthenTokenHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgendaFileFromWebServer">
      <soap12:operation soapAction="http://tempuri.org/GetAgendaFileFromWebServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAgendaFiles">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableAgendaFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAgendaFilesAndDates">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableAgendaFilesAndDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides methods to store agenda files and provides the shell for a new agenda document.</wsdl:documentation>
    <wsdl:port name="StorageServiceSoap" binding="tns:StorageServiceSoap">
      <soap:address location="http://agenda.mytestserver.com/AgendaServices.asmx" />
    </wsdl:port>
    <wsdl:port name="StorageServiceSoap12" binding="tns:StorageServiceSoap12">
      <soap12:address location="http://agenda.mytestserver.com/AgendaServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>